html,
button,
input,
select,
textarea {
    color: #004358;
}

body{
    font-size: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}
p ,h1,h2,h3,h4,h6
{
     padding: 0;
    margin: 0;
}


.container {
  background: #f5f5f5;
  display: inline-block;
}



.block {
  float: left;
  background: #000;
  cursor: pointer;
  user-select: none;
}

.block:nth-child(20n + 1) {
  clear: left;
}


.color-picker {
  margin: 32px 0;
}

.color-picker div{
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  transition: all .1s;
}

.color-picker div:hover,
.color-picker div[active] {
  transform:scale(1.6);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}
